.typeahead {
  width: 100%;
}
.typeahead__spinner {
  margin-right: 12px;
}
.typeahead__number {
  font-weight: 500;
  margin-right: 12px;
}
.typeahead__client {
  margin-right: 12px;
}
.typeahead__dates {
  font: var(--mat-sys-body-small);
}
