<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  @if (data.message) {
    <p>{{ data.message }}</p>
  }
  @if (data.items?.length) {
    <div class="banner" [class.banner--warning]="data.warning" [class.banner--info]="!data.warning">
      <mat-icon>{{ data.warning ? 'warning_amber' : 'info' }}</mat-icon>
      <ul>
        @for (item of data.items; track $index) {
          <li>{{ item }}</li>
        }
      </ul>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">{{ data.cancelText ?? 'Cancel' }}</button>
  <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial>
    {{ data.confirmText ?? 'Confirm' }}
  </button>
</mat-dialog-actions>
